[2018-11-04 09:33] praneshr opened #4 "Add more tests"

[2018-11-04 17:16] praneshr opened #5 "Contents from renderContent() are placed inside pre"
Contents returned by `renderContent()` are again placed inside a `pre` tag. It is supposed to be placed directly into `td`. This is not right. Fix it in the next patch.

[2018-11-05 08:08] liudonghua123 opened #6 "package in npm lack of build files."
I installed this package via `npm i -S react-diff-viewer`, And I used `ReactDiffViewer` in my code, but my app complained that `react-diff-viewer` not found like this.
[code]

I checked the `node_modules/react-diff-viewer` and found that no `lib` directory exits there.

So I think you should `npm run build` before publish to npm. Currently, I manual build this package and copy `lib` directory to `

[2018-11-07 13:07] praneshr commented on #6
Fixed in https://github.com/praneshr/react-diff-viewer/commit/a07b292fb10e70d1021f6de11d94db09ad6789ad

[2018-11-07 13:07] #6 closed

[2019-04-10 23:10] amandarice opened #7 "Could not find a declaration file for module...implicitly has an 'any' type"
When I try to import ReactDiffViewer, typescript throws this nasty error: "Could not find a declaration file for module...implicitly has an 'any' type." Turns out, the solution is simple, which you can find here: https://stackoverflow.com/questions/41292559/could-not-find-a-declaration-file-for-module-module-name-path-to-module-nam.

Tl;dr: could you please modify your package.json to have these t

[2019-04-15 02:58] 313183373 opened #9 "didn't show the differences when the difference is "/n" at the end"
the oldValue is `"1\n1\n1\n0\n0\n1\n0\n0\n0\n0\n"`
the newValue is `"1\n1\n1\n0\n0\n1\n0\n0\n0\n0"`
the differences is "\n" at the end
react-diff-viewer:
i change the react-diff-viewer props on the demo site
![image](https://user-images.githubusercontent.com/22502857/56105052-1337aa80-5f6d-11e9-9f63-eb7631c41964.png)

[2019-04-18 15:52] praneshr commented on #7
Fixed in https://github.com/praneshr/react-diff-viewer/pull/8

[2019-04-18 15:52] #7 closed

[2019-05-02 20:13] calthomson opened #10 "Unable to customize the gutter styles"
Hi!

First off, I love the component! It's great that you've built the styling customizability in so cleanly, too. However, I am running into an issue.

I'm looking for a way to target the leftmost gutter for `splitView={false}`:

![image](https://user-images.githubusercontent.com/8645285/57103860-b877b000-6cdb-11e9-8afc-214ad0c4f618.png)

I want to hide this gutter, and be able to change the widt

[2019-05-05 07:18] praneshr commented on #10
Fixed in [v1.1.0](https://github.com/praneshr/react-diff-viewer/releases/tag/v1.1.0)

Now, you can use `rightGutter` or `leftGutter` to style gutters. In your case, you can do the following.
[code]

[2019-05-05 07:18] #10 closed

[2019-05-05 07:19] praneshr commented on #5
Fixed in [v1.1.0](https://github.com/praneshr/react-diff-viewer/releases/tag/v1.1.0)

[2019-05-05 07:19] #5 closed

[2019-05-06 17:23] calthomson commented on #10
@praneshr This is great! Thank you!

[2019-05-07 13:13] cczz598 opened #11 "When oldValue and newValue is too long , diff viewer container will overflow page"
I use this component to compare two similar json string, I set splitView=true.
But I when some fields is too long in json string, the diff viewer container will overflow page.
![image](https://user-images.githubusercontent.com/5918421/57300909-5b7c5f80-710a-11e9-8058-18d51ec5db88.png)
![image](https://user-images.githubusercontent.com/5918421/57301353-64b9fc00-710b-11e9-9ce1-a4c0ed3ee657.png)

I t

[2019-05-09 08:38] praneshr commented on #11
This is intentional. If you need word wrapping, add it to the `line` style.

[code]

[2019-05-09 08:38] #11 closed

[2019-05-14 05:18] roychoi73 opened #12 "Empty lines, Removed last lines"
I hope you fix two issues.
1.  On splitView mode, removed last lines of oldValue are located in the newValue area.
2. Empty lines are removed. I want to show empty lines as well.

Actually I have fixed above two issues on my labtop.
And my source is working well.

I hope you check my changes below forked repository.
https://github.com/roychoi73/react-diff-viewer.git

[2019-05-14 05:31] praneshr commented on #12
Can you add screenshots for both the cases? It will be more helpful to understand.

[2019-05-14 05:31] praneshr commented on #9
Duplicate of https://github.com/praneshr/react-diff-viewer/issues/12

[2019-05-14 05:31] #9 closed

[2019-05-14 07:55] roychoi73 commented on #12
![removed-lines](https://user-images.githubusercontent.com/30612051/57680599-f32d0100-7668-11e9-987a-bf2d8f79b075.png)
![empty-lines](https://user-images.githubusercontent.com/30612051/57680606-f58f5b00-7668-11e9-8bdf-15042169aa27.png)

Please check images.

[2019-05-16 10:37] elmelloi opened #13 "a problem on the older version react"
I want to use this on react 15.4.1, but it doesn't work.However, versions of 16.3 and above will work

https://codesandbox.io/s/recursing-euclid-xmz2p

[2019-05-23 12:50] praneshr commented on #13
Haven't tested with 15.4.1. PRs are welcome.

[2019-05-31 21:42] rajuashok opened #14 "Only show diffs, not entire file."
Is there a way to only show the the diff lines and collapse (similar to github) other lines of the file?

[2019-06-03 09:59] lambdaxs commented on #14
I also need this feature

[2019-06-03 10:27] lambdaxs commented on #14
you can try this npm lib react-gh-like-diff

[2019-06-03 16:52] rajuashok commented on #14
Thanks man I actually already switched to that lib. react-gh-like-diff is
GREAT!

Ashok Raju
about.me/ashokraju

ᐧ

On Mon, Jun 3, 2019 at 3:27 AM xiaos <notifications@github.com> wrote:

[2019-06-04 06:30] praneshr commented on #14
I will be added in the next major version

[2019-06-26 21:28] GeorgiosP opened #16 "Question! about file compare"
I'm working on a project that needs a diff but not really for code but more documents how is the support for something like that?
the data I'm consuming will be structured in nodes like this and not just raw text
[code]

Thanks! 😄

[2019-06-28 04:58] praneshr commented on #16
Unfortunately, react-diff-viewer can only handle raw text for now. You can process the file and pass them as a string. `JSON.stringify` should take care of most of the processing.

Closing this. Feel free to reopen if you need more info.

[2019-06-28 04:58] #16 closed

[2019-07-02 00:21] jhodges10 commented on #14
Is there an ETA on the new version?

I would love to integrate this package but that's an important feature for me so that I don't fill up the page.

[2019-07-02 15:48] praneshr commented on #14
@jhodges10 The new version will be out by the end of this month.

[2019-07-02 17:46] jhodges10 commented on #14
Awesome! We'll plan around that.

[2019-07-09 14:27] praneshr commented on #14
`react-diff-viewer@v2.0.0-alpha` is now available. The above issue is addressed. It also includes a few other changes. Make sure to check it out and provide feedback. This is not production ready yet. A stable version will be released soon.

Check here for instructions and documentation
https://github.com/praneshr/react-diff-viewer/tree/v2.0

[2019-07-09 14:50] praneshr commented on #12
`react-diff-viewer@v2.0.0-alpha` is now available. The above issue is addressed. It also includes a few other changes. Make sure to check it out and provide feedback. This is not production ready yet. A stable version will be released soon.

Check [here](https://github.com/praneshr/react-diff-viewer/tree/v2.0) for instructions and documentation.

It will look something like this
![image](https://u

[2019-07-10 03:18] jhodges10 commented on #14
Looks good @praneshr!

I'll give it a try soon.

[2019-07-11 18:00] mkoyamaRS opened #17 "Compile error using strictNullChecks: true on branch v2.0"
Tried to use the alpha version in a project with the following tsconfig compile option
"strictNullChecks": true gives the following error

/node_modules/react-diff-viewer/lib/styles.d.ts
(3,5): Property 'diffContainer' of type 'string | undefined' is not assignable to string index type 'string'.

I did have a solution by changing the index signature of ReactDiffViewerStyles to [key: string]: strin

[2019-07-12 02:33] praneshr commented on #17
Ahh! Thanks for the pointing out the issue. I’ll fix it in the next release.

[2019-07-12 13:29] praneshr commented on #17
I feel it's okay to turn off the `strictNullChecks`

[2019-07-12 13:29] #17 closed

[2019-07-15 15:52] praneshr commented on #14
Fixed in https://github.com/praneshr/react-diff-viewer/releases/tag/v2.0.0

[2019-07-15 15:52] #14 closed

[2019-07-15 15:52] praneshr commented on #12
Fixed in https://github.com/praneshr/react-diff-viewer/releases/tag/v2.0.0

[2019-07-15 15:52] #12 closed

[2019-07-15 15:53] praneshr commented on #4
https://github.com/praneshr/react-diff-viewer/releases/tag/v2.0.0

[2019-07-15 15:53] #4 closed

[2019-07-15 15:53] praneshr commented on #13
Stale

[2019-07-15 15:53] #13 closed

[2019-07-16 03:26] praneshr opened #19 "Do not highlight word diff when a line is selected"
Currently, word diffs are highlighted when a line is highlighted. It shouldn't be like that.

[2019-07-25 12:50] yamini-krishnamurthy opened #20 "You may need an appropriate loader for this filetype"
When I import this package in a Rails/React app I see this error

[code]

I'm not sure if there are some things I'm missing (webpack, babel, etc.)

[2019-07-25 13:14] #20 closed

[2019-07-28 06:42] praneshr commented on #19
Fixed in https://github.com/praneshr/react-diff-viewer/releases/tag/v2.0.1

[2019-07-28 06:42] #19 closed

[2019-07-29 09:22] flyYoyo commented on #20
I met the same issue @yamini-krishnamurthy

[2019-07-29 14:11] yamini-krishnamurthy commented on #20
Hey, I fixed it by updating my .babelrc. I added `@babel/react`, `@babel/preset-env`, `@babel/plugin-transform-spread` and `@babel/plugin-proposal-class-properties`

[2019-07-31 09:53] tanelih opened #21 "(Suggestion) Change TSConfig target option to something other than ESNext"
Hey,

Would it be possible to `target` something other than `esnext` in the `tsconfig.json` configuration? With the current `esnext` setting, the code will include spread operators, which will cause at least Edge (version 41) to hang.

We've succesfully ran with a `target` setting of `es6` and it seems to work on all "modern" browsers. I can provide a PR if that would help.

[2019-08-01 06:07] praneshr commented on #21
Hey @tanelih,

I used `esnext` intentionally. react-diff-viwer is not designed as an UMD module. Meaning, it cannot be consumed directly in browsers without transpiling. So, when you use react-diff-viewer with react in your project, I recommend you to configure webpack, rollup or tsc to compile the final version to any desired target(In your case to `es6`). Hope this helps. Reopen if you need more

[2019-08-01 06:07] #21 closed

[2019-08-07 07:13] Neeraj-swarnkar opened #22 "How i can build project in local"
I have cloned the project in my local
did npn i for dependencies
But i am not able to run this locally, could you tell me how to use this ?

I am running as - npm run devServer

[2019-08-07 10:41] praneshr commented on #22
Thanks for pointing out. I've updated the README.

Fixed (b8802562bec8c6e8e130cfbab10cd6c37601d8ff)

[2019-08-07 10:41] #22 closed

[2019-08-07 14:45] Neeraj-swarnkar commented on #22
Thanks, somehow before you updating the read me I figured it out how to run it. Thanks.
npm build
npm run start:examples

did the trick.

[2019-08-07 14:49] Neeraj-swarnkar opened #23 "Can I use this library in my enterprise project ?"
Here I am looking for few details -

Can I use this library in my enterprise company project ? I can see this is MIT license so I think I can use it.
Your library or react component use https://github.com/kpdecker/jsdiff jsdiff which seems to be under BSD licensing, https://github.com/kpdecker/jsdiff/blob/master/LICENSE

Can i assume this is stable component we can refer and use in project.

Thank

[2019-08-07 15:00] praneshr commented on #23
You need to check with your legal team regarding this. Thanks.

[2019-08-07 15:00] #23 closed

[2019-08-15 07:20] skyunBoss opened #24 "oldstr newstr very large"
When the string size is very large, it is stuck, how to solve it

[2019-08-16 12:12] praneshr opened #25 "Handle large files"
Try introducing the windowing technique to handle large DOM nodes.

[2019-08-16 12:14] praneshr commented on #24
It is because the DOM nodes are rendered at a time. There is no immediate fix as of now. But, I'm thinking of introducing the windowing technique to handle large files. You can check https://github.com/praneshr/react-diff-viewer/issues/25

Closing this.

[2019-08-16 12:14] #24 closed

[2019-08-20 08:45] Aceysx commented on #20
Hey, could you paste your code?  I tried to update my .babelrc. But it still didn't work. Thanks

[2019-08-21 09:45] Neeraj-swarnkar opened #26 "Error while using in project - You may need an appropriate loader to handle this file type"
ERROR in ./compliance/app/compliance/~/react-diff-viewer/lib/styles.js
Module parse failed: /Users/nswarnka/Documents/Neeraj/Projects/mashup-project/mashup/ui-plugins/compliance/app/compliance/node_modules/react-diff-viewer/lib/styles.js Unexpected token (5:42)
You may need an appropriate loader to handle this file type.
| const emotion_1 = require("emotion");
| exports.default = (styleOverride) =

[2019-08-21 09:47] Neeraj-swarnkar commented on #26
This is how I am using in project.

npm i react-diff-viewer

"dependencies": {
    "react-diff-viewer": "^2.0.1"
  }

got added,

Using <DiffViewer /> is project -

DiffViewer.js ->

import React, { PureComponent } from "react";
import ReactDiffViewer from "react-diff-viewer";

class DiffViewer extends PureComponent {
	constructor() {
		super();
	}

	render = () => {
		const oldCode = `
        co

[2019-08-21 10:02] Neeraj-swarnkar commented on #20
Hi,

I am facing the same issue,
could you please tell me how to fix this ? thanks.

[2019-08-23 04:00] praneshr commented on #26
You should use proper Webpack loader to make it work. Check the babel project.

[2019-08-23 04:00] #26 closed

[2019-08-23 04:20] Neeraj-swarnkar commented on #26
Hi,

Can you provide the information what proper webpack loader means ? I am trying to use this in my project i need your help. you can mention what to use what to include or any dependencies. please guide.

I am using react 15 in my project.
Thanks !!

[2019-08-23 04:59] Neeraj-swarnkar commented on #26
could you please share the details here ?
what config changes required in webpack or babel

[2019-08-26 06:19] Neeraj-swarnkar opened #27 "You may need an appropriate loader to handle this file type"
Hi Library Owners,

I am trying to use this react diff library in my react project -.
`npm i react-diff-viewer`

[code]

Got added,

while building and using I am getting this error-

.babelrc file -> In my babel i have "babel-preset-react",   "babel-preset-stage-0" and "es2015" please check.
[code]
package.json file ->
[code]

I got to know have to use Webpack loader to make it work. Could you pl

[2019-08-26 06:20] Neeraj-swarnkar commented on #20
Did you get the answer for the problem, I am also facing the same issue and not able to resolve this ? Thanks

[2019-08-27 10:30] praneshr commented on #27
@Neeraj-swarnkar Please refer to webpack and babel docs.

[2019-08-27 10:30] #27 closed

[2019-08-27 11:00] Neeraj-swarnkar commented on #20
did you get the solution for this ?

[2019-08-27 11:06] Neeraj-swarnkar commented on #27
Updated my .babelrc file as well but it's not working.

[code]

[2019-08-28 12:36] naumanzchaudhry opened #28 "Words based diff"
Hi, pretty useful work. Currently it shows diff based on characters. How can we show diff based on words.

Just like this one [words-based-diff](http://cezary.github.io/react-diff/)

[2019-08-29 09:10] praneshr commented on #28
Hi @naumanzchaudhry, I don't have a plan for supporting word diff soon. As the component shows line level and character level diff, word diff is not required. That said, if there's a lot of ask for word diff then I might support. Thanks.

[2019-08-29 09:10] #28 closed

[2019-09-01 09:49] Avnerus commented on #28
Actually it seems very easy to add word diff support. Just change in [here](https://github.com/praneshr/react-diff-viewer/blob/master/src/compute-lines.ts#L69) from:
` .diffChars(oldValue, newValue);`
to:
` .diffWords(oldValue, newValue);`
It makes it much easier to look at differences in text values, because the character diff highlights specific characters inside changed words instead of the who

[2019-09-05 02:57] cczz598 opened #29 "Text diff result is unexpected when the oldvalue="1\n2\n3" and newvalue="1\n2""
**[version: 1.1.0]**

When I use mock value,  oldvalue="`1\n2\n3`" and new value="`1\n2`", this diff viewer shows unexpected result, as follow picture.
![image](https://user-images.githubusercontent.com/5918421/64308010-74b6ef00-cfca-11e9-850f-f0a9a6c24579.png)

The the third line on the left side should be texted "3" with "remove-line" style. In fact, "3" is texted on the right side, and the thir

[2019-09-05 04:41] praneshr commented on #29
Hi @cczz598, there were few bugs in computing diff with whitespaces. Please use [v2.0](https://github.com/praneshr/react-diff-viewer#install)

[2019-09-05 04:45] #29 closed

[2019-09-07 20:50] devgibsonsp commented on #26
I am having the same issue and I definitely have the proper loader. Kind of rude to just dismiss the issue without providing the correct context so we can verify.

[2019-09-13 04:09] fdemello opened #30 "Dark mode support"
Native dark mode support would be nice.

[2019-09-13 09:28] praneshr commented on #30
It will be added in the next major version😃

[2019-09-13 12:59] fdemello commented on #30
@praneshr In my implementation, I used these colors.

[code]

[2019-09-15 07:18] praneshr commented on #26
@Neeraj-swarnkar the community member and I added the right information before closing every issue of yours(https://github.com/praneshr/react-diff-viewer/issues/27#issuecomment-525242129, https://github.com/praneshr/react-diff-viewer/issues/26#issuecomment-524163710, https://github.com/praneshr/react-diff-viewer/issues/20#issuecomment-516008407) You had a problem with babel setup which is totally

[2019-09-16 14:03] bstst opened #32 "Diff bug"
Diffing seems to break when new content has no repeated content compared with the old one, reproduced here https://stackblitz.com/edit/react-skqpxu

[2019-09-17 11:53] weichaozhan commented on #26
still exists，in v2.0.1

[2019-09-17 12:59] praneshr commented on #32
This is a good catch. I'll look into it shortly.

[2019-09-19 09:11] DarshanCodehunt commented on #20
Did you find the solution for this?

[2019-10-08 05:29] mikecole opened #34 "Column title in split view"
I am showing a diff using split view, and at the top of both columns I'd like to set arbitrary text. I would like to show date values specifying the time the change was made, along with some other metadata. Is this currently possible? Thanks!

[2019-10-09 06:50] jrsquared commented on #32
Ran into this too

[2019-10-10 10:02] cczz598 commented on #32
I just wanna know, when will fix this problem？🥺

[2019-10-10 15:07] praneshr commented on #32
Hey guys, there’s a PR pending. I’ll merge the change next week. Sorry for the delay.

[2019-10-16 23:08] dlsgusrn7577 commented on #32
Dear praneshr,

Is there any update on this bug?
Thanks.

[2019-10-17 02:09] praneshr commented on #32
I'll release a patch by this weekend. I'm really sorry for this delay.

[2019-10-17 14:16] dlsgusrn7577 commented on #32
Sounds good :) Thanks!

[2019-10-19 07:47] praneshr commented on #34
Thanks for the suggestion. Sounds like a valid feature request. I will try to add it in the upcoming version. Meanwhile, you can add titles outside of the diff viewer.

[2019-10-21 13:37] praneshr commented on #32
Released a patch to address this issue. You can try it by installing the beta version.

[code]

I'll wait for a few more days before pushing it to production. Sorry for the long delay.

[2019-10-22 20:47] dimitropoulos opened #35 "bug: react element key hardcoded to 100 (?!?), index keys used frequently"
Observe the following snippet of code from [index.tsx](https://github.com/praneshr/react-diff-viewer/blob/master/src/index.tsx#L406):

[code]

Now consider the following sandbox example: https://codesandbox.io/embed/proud-firefly-wlko9

This is a serious bug.

This example demonstrates that when there's a row that has a key that's based off of the index two react elements will exist with the same

[2019-10-22 21:40] dimitropoulos commented on #35
As an aside @praneshr I am curious why you wrote `Math.round(100).toString()`, which, so far as I can tell, is logically equivalent to `"100"`.

[2019-10-22 21:45] dimitropoulos commented on #35
Also.. for balance: Thank you for open sourcing this project.  From the search I did for all the competition's offerings I found this to be the best.

[2019-10-23 02:35] praneshr commented on #35
Hi @dimitropoulos, thanks for pointing this out. This is a serious bug. I meant to write `Math.random().toString()`. I'll release a patch by end of this week.

[2019-10-23 12:05] dimitropoulos opened #37 "explicitly add border-collapse so that it works out of the box without a css reset"
![Screenshot_20191023_080218](https://user-images.githubusercontent.com/15232461/67390862-741eeb80-f56b-11e9-94af-6e172ae5b31c.png)

The above screenshot shows what this project looks like "out of the box" without a CSS Reset.  The example page is using a reset: `_reboot.scss` which is giving `table` `border-collapse: collapse;`, when (on chrome) the user agent stylesheet specifies `border-collaps

[2019-10-25 20:42] willhighland commented on #32
Just wanted to let you know that the `@beta` patch fixed this issue for me, thank you!

[2019-10-28 01:59] #37 closed

[2019-10-28 02:25] praneshr commented on #35
Fixed in [v2.0.3](https://github.com/praneshr/react-diff-viewer/releases/tag/v2.0.3)

[2019-10-28 02:25] #35 closed

[2019-10-28 02:25] praneshr commented on #32
Fixed in [v2.0.3](https://github.com/praneshr/react-diff-viewer/releases/tag/v2.0.3)

[2019-10-28 02:25] #32 closed

[2019-10-28 16:28] dimitropoulos commented on #35
![Screenshot_20191028_122721](https://user-images.githubusercontent.com/15232461/67697065-55ab5c80-f97e-11e9-9e89-7aca45e3fedf.png)

I think @praneshr something happened with the npm release: `lib/index.js` doesn't contain the fix in `v2.0.3`

[2019-10-29 18:14] najeeta opened #41 "Diff View not displaying subsequent lines when a change is made to the first line."
Hi praneshr,
Thank you for developing this tool! This will be extremely useful for what I am trying to use it for. That being said, I have come across a bug which I hope can be resolved with ease.

What I am trying to accomplish:
- I have a textarea that will be pre-populated with some text.
- A user will make changes in this textarea and then review their changes using 'react-diff-viewer'

The bu

[2019-10-30 12:32] dimitropoulos opened #42 "latest release doesn't seem to include correct code"
see: https://github.com/praneshr/react-diff-viewer/issues/35#issuecomment-547029615

[2019-10-30 12:45] Ionut-Milas commented on #32
@praneshr this is still not fixed.
Have a look here please:
https://stackblitz.com/edit/react-riskub

I added the v 2.0.3 but no luck

[2019-10-31 01:28] praneshr commented on #42
Hi @dimitropoulos, thanks for pointing this out. The last version has been pushed without being built. That's the reason for stale file. I've published updated version. Just do `yarn upgrade react-diff-viewer`. Let me know if you face any more problem.

[2019-10-31 01:28] #42 closed

[2019-10-31 01:31] praneshr commented on #41
Hi @najeeta, This is a duplicate of https://github.com/praneshr/react-diff-viewer/issues/32.

I've published a updated patch now. Please reinstall/upgrade the module.

[2019-10-31 01:31] #41 closed

[2019-10-31 11:24] IgorNovokhatny opened #43 "Issue with showDiffOnly option"
Hello,

We would like to report an issue with “showDiffOnly” option.

The aforementioned option does not always work correctly and despite it is enabled, some lines that have no differences are still displayed. The corresponding lines are not highlighted, however, they shouldn’t be visible at all.  Unfortunately, it was not possible to customize the library in order to resolve the case.

You may f

[2019-10-31 12:39] dimitropoulos commented on #42
confirmed. thanks!

[2019-11-04 08:01] praneshr commented on #43
Hi @IgorNovokhatny, the extra lines are there for a reason. `showDiffOnly` option will still show some line when the number of lines between two diffs are less. It is there for better UX. You can control the number of lines to be shown using `extraLinesSurroundingDiff`.

And I'll also request you to update the package to the latest version.

[2019-11-04 08:01] #43 closed

[2019-11-04 10:25] IgorNovokhatny commented on #43
Hello, Pranesh.

Thank you for your response, it is highly appreciated. However, as mentioned in the previous message, it is not possible to customize the library with the provided settings including `extraLinesSurroundingDiff`.

I attempted to set the aforementioned option to 0, 1 and some other values, still, it did not resolve the issue with several extra lines. Moreover, they are display rathe

[2019-11-04 10:30] IgorNovokhatny opened #44 "Issue with showDiffOnly option"
Hello, @praneshr .

Thank you for your response regarding issue #43 , it is highly appreciated. However, as mentioned in the initial message, it is not possible to customize the library with the provided settings including extraLinesSurroundingDiff.

I attempted to set the aforementioned option to 0, 1 and some other values, still, it did not resolve the issue with several extra lines. Moreover, t

[2019-11-04 11:01] praneshr commented on #44
Hi @IgorNovokhatny, thanks for providing me the context. I’ll take a lot and get back to you in few days.

[2019-11-05 02:59] Rickiiii opened #45 "Too long to view"
How can I set a length so that the content scrolls on its own
![image](https://user-images.githubusercontent.com/38414788/68175189-5ca81f80-ffbb-11e9-9ee6-d616b827aec8.png)

[2019-11-05 03:07] Rickiiii commented on #45
My falut...

[2019-11-05 03:07] #45 closed

[2019-11-06 00:17] jordanmmck opened #46 "Evenly split page?"
Apologies if this is documented somewhere, but I couldn't find it. I'm wondering if it is currently possible to give the document on the left and the document on the right even width on the page? Right now one doc often takes up 70-80% of the page width.

[2019-11-07 22:49] daniel-trinh opened #47 "Having trouble compiling this library in a typescript react project targetting es5"
I'm not completely sure what's causing this, but I wonder if it's because this project seems to be targetting esnext? The current project I'm on has es5 as the target. The only thing that seems to fix the compilation error below is to set my target to esnext, but that introduces other errors in other files in my project.

[code]

[2019-11-08 09:24] taeyangee commented on #25
Encounter the same problem，looking forward optimization~

[2019-11-12 07:57] yykoypj commented on #47
I have the same issue, need some help.

[2019-11-12 08:38] yykoypj commented on #47
I solved this problem by doing as follow：

//webpack  -> modules.rules

test: /\.jsx?$/,
loader: 'babel-loader',
exclude: function (modulePath) {
    return /node_modules/.test(modulePath) &&
        !/node_modules\\react-diff-viewer/.test(modulePath);
}
hope this will help you.

[2019-11-12 12:15] andresmgot commented on #47
same issue here, I am using `react-scripts-ts` so I cannot change the webpack configuration. Any suggestion?

[2019-11-13 12:36] andresmgot commented on #47
Any hints here @praneshr? This is preventing me from using the version 2.x of the package

[2019-11-13 13:56] praneshr commented on #47
@daniel-trinh Can you share your tsconfig.json?

[2019-11-13 14:01] praneshr commented on #46
@jordanmmck Sorry for the delayed response. By default, the component doesn't come with any style rules for the column width. But, this looks like a valid use case. I'll add support for this in the next version.

[2019-11-13 14:02] praneshr opened #48 "Add a class to customize the width of the table cell"

[2019-11-13 14:03] praneshr commented on #46
Duplicate of https://github.com/praneshr/react-diff-viewer/issues/48

[2019-11-13 14:03] #46 closed

[2019-11-13 15:40] andresmgot commented on #47
This is my `tsconfig..json`:

[code]

[2019-11-13 20:08] todd opened #49 "Support Disable Code Fold Message"
Hi there,

I have a use-case where I need to hide the code fold message. Passing `undefined` to `codeFoldRenderer` simply falls back to the default behavior. It's possible to pass an override function, but this feels like a bit of a hack. Would a PR be accepted to support a `displayCodeFoldMessage` property that would optionally allow users to disable the code fold message? The default value would

[2019-11-13 20:20] todd commented on #49
Additionally/alternatively, would a style override for the code fold be welcomed as well?

[2019-11-13 22:30] daniel-trinh commented on #47
here's mine, looks similar to the one above
[code]

[2019-11-14 12:52] praneshr commented on #47
Guys, I'm not able to reproduce this issue. I created a new project and used a modified version of your tsconfigs. Everything works fine.

[Download this zip and check](https://github.com/praneshr/react-diff-viewer/files/3846522/react-diff-experiment.zip)

Run the following commands.
[code]

I made the target as `esnext` because I wanted the lib files to include all latest syntax. Then, the consum

[2019-11-14 12:57] praneshr commented on #49
Hey @todd, did you try using `codeFoldMessageRenderer` and return an empty string?. I don't think `displayCodeFoldMessage` will be needed as there is a way to customize the same. If you don't want code folding, set `showDiffOnly` to `false`. Let me know your thoughts.

[2019-11-14 14:29] andresmgot commented on #47
I see, I tried with that tsconfig and it's not working for me either so I assume that the problem is other. I am using older versions for typescript and react so that's maybe the issue? I have updated typescript and the problem persists (unfortunately I cannot update react easily). Maybe @daniel-trinh can confirm if that's an issue for him?

[2019-11-14 14:51] praneshr commented on #47
@andresmgot The zip didn't work for you? Can you confirm the typescript version you're using?

[2019-11-14 15:54] andresmgot commented on #47
Yes, sorry. The zip works for me, what doesn't work for me is to use that tsconfig in my project (I get the same result, the only change is the `strictNullChecks` so that's why I assumed that the problem is somewhere else.

Regarding my last comment, I have tried again using the latest react ^16.11.0 and typescript ^3.7.2 but the problem is the same so no clue what could be happening...

[2019-11-15 05:21] praneshr commented on #47
@andresmgot `react-scripts-ts` was updated a year ago. May be the dependencies are old. I will recommend you to use latest webpack or tsc.

I will keep this bug open for few more days. Let me know if you need my help.

[2019-11-21 09:20] jamiewinder opened #52 "Typing issue (possibly to do with strict null types)"
When I build my TypeScript project which uses this library, I get several typing errors in the styles.d.ts file. This appears to be due to the properties of `ReactDiffViewerStyles` being optional properties, but the type of `[key: string]` being `string`, not `string | undefined`.

[2019-11-22 01:21] praneshr commented on #52
Hi @jamiewinder, can you share your tsconfig?

[2019-11-22 04:56] todd commented on #49
I actually managed to do what I needed by using those properties - didn't seem to take immediately in my application, but it eventually sorted itself out. Sorry for the noise.

[2019-11-22 04:56] #49 closed

[2019-11-22 07:18] praneshr commented on #47
Closing this issue as the issue cannot be reproduced in an ideal scenario.

[2019-11-22 07:18] #47 closed

[2019-11-24 13:07] dodev commented on #52
I'm experiencing the same problem. I have the `strictNullChecks` flag set to `true`.

I see there was an issue regarding this problem - #17 and @praneshr recommended turning off the strict null checks. But there are cases where doing so is very time consuming, i.e. when big chunks of your code depend on that compiler flag.

@praneshr would you please consider @jamiewinder solution to the problem?

[2019-11-26 06:28] praneshr commented on #52
Fixed in [v2.0.6](https://github.com/praneshr/react-diff-viewer/releases/tag/v2.0.6)

[2019-11-26 06:28] #52 closed

[2019-11-26 17:42] circAssimilate commented on #48
@praneshr, +1 on this. We would also very much love the option to ensure the before and/ after was 50 / 50.

[2019-11-26 17:44] circAssimilate opened #55 "Add option to disable line text-wrap"
In some cases, like long strings or very nested JSON, it may be useful to allow the user or implementer to enable / disable text wrap. If it's not too difficult it would be neat to allow for a prop or CSS option to easily enable / disable line text wrapping.

[2019-12-06 03:36] cczz598 commented on #25
I need to diff large text(145k) with 90% difference, but actually the browser crashed when rendering large text.
I'm also looking forward your optimization~

[2019-12-06 11:47] c1240539157 opened #56 "how to fold json code?"
my json code is too long , it is any possible to fold or expand code manual?
![fold](https://user-images.githubusercontent.com/5763230/70321040-3b0fb180-1861-11ea-8c03-18c64e377d94.jpg)

[2019-12-09 06:47] skyunBoss opened #57 "Too much content will freeze"
Render more html，Several thousand lines

[2019-12-09 12:57] rokoroku commented on #47
@praneshr I think It's better to indicate this module is targeted to ESNEXT in README file, so that we can add this module to the transpiling target.

[2019-12-10 12:58] praneshr commented on #57
This is a known issue.

https://github.com/praneshr/react-diff-viewer/issues/25

[2019-12-10 12:58] #57 closed

[2019-12-12 07:27] praneshr commented on #48
Hello! [v3.0.0 beta](https://github.com/praneshr/react-diff-viewer/tree/v3.0.0) is now available. This issue is addressed in this release. Try it out and provide feedback.

[2019-12-12 07:27] praneshr commented on #34
Hello! [v3.0.0 beta](https://github.com/praneshr/react-diff-viewer/tree/v3.0.0) is now available. This issue is addressed in this release. Try it out and provide feedback.

[2019-12-12 07:28] praneshr commented on #30
Hello! [v3.0.0 beta](https://github.com/praneshr/react-diff-viewer/tree/v3.0.0) is now available. This issue is addressed in this release. Try it out and provide feedback.

[2019-12-12 07:38] praneshr commented on #56
Can you share the string used?

[2019-12-12 07:55] c1240539157 commented on #56
{"originalContent":{"compConfig":{"newQualityCommitment":{"depends":null,"label":"质量承诺协议","type":"enumValue","compName":"newQualityCommitment","required":true,"tags":null,"supportSceneUse":true,"readonly":null,"complexComp":false,"dataSource":[{"disabled":false,"text":"同意签署","value":1,"info":null},{"disabled":false,"text":"不同意签署","value":0,"info":null}],"supportUpdate":false,"info":{"help":[],"top

[2019-12-13 19:43] circAssimilate commented on #34
It (and the compareMethod prop) are working well for me in the beta @praneshr! Thank you!

[2019-12-16 06:09] skyunBoss commented on #25
How long does it take

[2019-12-17 06:32] #30 closed

[2019-12-17 06:32] #34 closed

[2019-12-17 06:32] #48 closed

[2019-12-17 07:43] praneshr commented on #56
Since, the text in the left is a diff(removed), it cannot be folded. Folding it will be a bad user experience.

This is working as expected.

[2019-12-17 07:43] #56 closed

[2019-12-17 07:44] praneshr commented on #25
@skyunBoss - I don't have a timeline for it. I'm experimenting with few techniques. But, I'll address this issue soon!

[2019-12-17 17:56] lee-reinhardt opened #59 "Relax engine requirements"
The latest version 3.0.0 looks great, and thank you for all the improvements.

However, one thing that changed is the `engines` definition in `package.json`. When attempting to install with yarn, it refuses to install if you're not using node 12.

This can be worked around with the `--ignore-engines` flag, but it's not clear whether requiring v12 is absolutely necessary. I think at least v10 shoul

[2019-12-18 11:14] praneshr commented on #59
@lee-reinhardt Thanks for pointing this out. I’ll release a patch ASAP. Till then please use `—ignore-engines`

[2019-12-19 04:46] praneshr commented on #59
Fixed in [v3.0.1](https://github.com/praneshr/react-diff-viewer/releases/tag/v3.0.1)

[2019-12-19 04:46] #59 closed

[2019-12-19 05:19] praneshr commented on #55
Hi @circAssimilate, can you provide me an example with screenshot?

Currently, all the text inside `<pre>` has a style `white-space: pre-wrap`. You can override by adding it under [`diffContainer`](https://github.com/praneshr/react-diff-viewer/blob/master/src/styles.ts#L168) style.

[2019-12-21 00:56] circAssimilate commented on #55
Thanks, @praneshr. The `white-space: pre-wrap` suggestion is a good tip, but upon switching it to `no-wrap` I'd additionally like to control the max-width of each column and allow for _before / after diff_ horizontal scrolling as an option after 50% of the parent container. So here's how it looks without wrap:

![image](https://user-images.githubusercontent.com/7128855/71300410-64dcd400-2349-11ea-

[2019-12-27 00:54] circAssimilate commented on #55
I think I narrowed in on the core issue here. When a long string has no spaces, automatic breaking doesn't happen as expected and the container gets really big (while still wrapping). It would still be nice to allow for a non wrap option or style with a set width, but also figuring out how to ensure breaking happens at 50% for long strings like this:

**Before**
[code]

**After**
[code]

[2019-12-27 16:18] circAssimilate opened #60 "Unified (non-split) view without line numbers seems to add extra <td>"
Here's a screenshot from my local Storybook:
![image](https://user-images.githubusercontent.com/7128855/71523959-f213b180-2890-11ea-8d7e-c88f03f1b293.png)

Steps to reproduce:
- `hideLineNumbers{true}`
- `showDiffOnly{true}`
- `splitView{false}`
- Then `oldValue` and `newValue` should have code that is changed on at least one line but is the same on more than 3 lines surrounding.

The result is th

[2019-12-30 19:19] circAssimilate commented on #60
I added #61 to fix this!

[2020-01-02 07:55] EricCatlin commented on #55
Hi, i am having this exact issue when my payload contains a JWT.
JWTs are fairly lengthy and have no good break point.

[2020-01-02 12:47] praneshr commented on #60
Ah! Thanks for pointing this out. I'll review the PR by this weekend.

[2020-01-03 04:24] circAssimilate commented on #55
@praneshr, @EricCatlin, the simplest workaround I just found was to add the following style override to ensure a wrap happens (probably should be default):

[code]

![image](https://user-images.githubusercontent.com/7128855/71707189-367de080-2dae-11ea-8bb0-8b2e42e1a37f.png)

Then, something like this helps with preventing wrap but allowing horizontal scroll:

[code]

<img width="994" alt="Screen S

[2020-01-03 23:18] #60 closed

[2020-01-07 15:54] circAssimilate opened #62 "[feature request] Export Package as ES5"
This is related to the core issue in https://github.com/praneshr/react-diff-viewer/issues/47, but offers a suggestion on a solution. From @jamesopti on https://github.com/optimizely/oui/pull/1271:

@praneshr, reading through the related issues it sounds like you may have strong feelings that this should be handled by the consumer. Curious though, do you think there are any drawbacks in exporting a

[2020-01-09 03:20] MarkSiedle opened #64 "Expand links get squished when line numbers are hidden, in unified (non-split) mode"
Firstly thanks for this great library, amazing work :)

I believe there's a minor UI issue when using unified (non-split) view and hiding line numbers, where the expand links end up squished over to the right, like this:

![2020-01-09 13_15_53-Audit - Octopus Deploy](https://user-images.githubusercontent.com/819605/72034957-3a47c080-32e2-11ea-9b72-4b4b8ce941f9.png)

The combination to get this to

[2020-01-10 05:56] praneshr commented on #64
Hi @MarkSiedle, thanks for reporting this bug. I'll take a look.

[2020-01-12 14:01] praneshr commented on #62
Hi @circAssimilate, thanks for the point and sorry for the delayed response. Since exporting the library as `esnext` is causing a lot of trouble than benefits, I am considering exporting the library as `es5`. I'll release a patch by the end of next week.

[2020-01-12 14:04] praneshr commented on #64
Will be fixed when https://github.com/praneshr/react-diff-viewer/pull/61 is merged.

[2020-01-13 16:54] circAssimilate commented on #62
Thank you, @praneshr! Let me know if I can support in any way!

[2020-01-21 19:01] simmerer commented on #59
Just experienced this issue with 3.0.1, sadly:

[code]

[2020-01-29 02:05] bendanye opened #65 "Blank screen display for no difference one line old and new value"
**Expect outcome**

The Viewer should display "Expand 1 lines ...."

**Actual Outcome**

Blank screen displayed,

**Sample Code**
![screenshot](https://user-images.githubusercontent.com/12966065/73321880-bd738b00-427e-11ea-9421-78171b0e6dfb.png)

[2020-01-31 07:20] brianorwhatever commented on #62
would love to see an es5 export land in this package soon as it's causing me a lot of headache as well

[2020-02-18 03:45] OhCoder opened #66 "Uncaught Error: Cannot find module "./styles""
<img width="930" alt="C3D742DF-E1E7-43FE-9A5F-3552BA847A6D" src="https://user-images.githubusercontent.com/890676/74723532-b6d0a600-5275-11ea-94f1-2f11f8a8c115.png">

hi, everyone!
I installed 3.0.1 version, the error need me to config webpack, I'm not sure what should I do......

Thanks!!

[2020-02-18 09:38] OhCoder commented on #66
maybe is my webpack version too old, not sure......

[2020-02-19 10:39] olee opened #67 "Allow disabling code folding"
I would like to have an option to disable code folding completely and always show the whole file content

[2020-02-19 10:42] olee commented on #67
Oh I found out I can just set `extraLinesSurroundingDiff={Number.MAX_SAFE_INTEGER}` to get rid of code folding - maybe this could be added to the documentation

[2020-02-19 10:42] #67 closed

[2020-02-19 19:35] olee opened #68 "Title colspan bug when setting `splitView` and `hideLineNumbers`"
When `splitView` and `hideLineNumbers` are set to true, the colspan [here](https://github.com/praneshr/react-diff-viewer/blob/master/src/index.tsx#L532) should be 2 instead of 3

[2020-02-25 10:24] praneshr commented on #66
Are you using TS or JS?

[2020-02-25 12:01] vbatr commented on #66
Hi @OhCoder, I had the same issue.
In my case fix was - migrate from react-scripts-ts to react-scripts.

[2020-02-25 12:46] OhCoder commented on #66
@praneshr I use js.

@vbatr Thanks for your help. My project is too old, I tried my newer project, don't meet the issue, my newer project is using js too.

[2020-03-01 07:08] praneshr commented on #66
You need to right babel preset to support spread operator.

[2020-03-01 07:08] #66 closed

[2020-03-02 15:34] olee opened #69 "Remove engines requirement"
Please remove the engines requirement from package.json as there is no reason to include such an annoying field.
Or at lease make it something like `{ "node": ">= 8" }`

[2020-03-03 06:22] Anoian commented on #69
Yes please do this.

We use the newest node version 13 and now have to always run `yarn install --ignore-engines` and that really should not be the case.

[2020-03-04 08:01] olee commented on #69
@praneshr think you could merge and publish this?

[2020-03-05 03:52] praneshr commented on #69
Fixed in [v3.0.2](https://github.com/praneshr/react-diff-viewer/releases/tag/v3.0.2)

[2020-03-05 03:52] #69 closed

[2020-03-27 08:26] Azrog commented on #25
Would the use of a web worker help?
https://developer.mozilla.org/fr/docs/Web/API/Web_Workers_API

[2020-03-30 13:22] BaileyMillerSSI opened #73 "Help - Single line text diff?"
I really like this library over the alternatives but I cannot seem to find a configuration that does a single line diff? I have to work within the setup UI designs for a project but don't believe this library can do what I am looking for.

Using another library I can do this, but I would prefer to use `react-diff-viewer`.
![image](https://user-images.githubusercontent.com/14271740/77916935-dd68008

[2020-04-03 21:56] phil-andrews opened #76 "XML aligning to right hand column"
I might just be doing something wrong. But when I input an XML string it right aligns to the code view window as seen in the screen shot. It right aligns for unified/split views. Is there something particular I need to do for xml?

[code]

![Screen Shot 2020-04-03 at 5 53 45 PM](https://user-images.githubusercontent.com/14335126/78408209-813d0d80-75d4-11ea-8bfa-6f893c4e64d0.png)

[2020-04-04 06:09] praneshr commented on #73
@BaileyMillerSSI - Unfortunately, this is not supported at the moment. But, if you prefer you can try the `inline` mode offered by `react-diff-viewer` by setting `splitView={false}`.

[2020-04-04 06:09] #73 closed

[2020-04-04 06:10] praneshr commented on #76
@phil-andrews Can you check if any styles are being applied to the table row?

[2020-04-04 12:39] BaileyMillerSSI commented on #73
Thanks for the quick reply, I actually found the same diffing library this project uses and wrote my own single line diffing component.

[2020-04-05 14:39] phil-andrews commented on #76
Yes, styles are being added. `css-1n7ec1i-line` which is inheriting `text-right` where alignment is marked as `!important`

![Screen Shot 2020-04-05 at 10 37 23 AM](https://user-images.githubusercontent.com/14335126/78501367-73e56780-7729-11ea-9c01-41b71be9b9d4.png)

[2020-04-06 12:55] praneshr commented on #76
@phil-andrews `text-align: right` is not set by `react-diff-viewer`. Can you verify?

[2020-04-06 14:51] phil-andrews commented on #76
Ah, my mistake. You're right it's inheriting from the bootstrap parent container. Sorry about that

[2020-04-06 14:51] #76 closed

[2020-04-13 13:41] grantspilsbury opened #77 "Only show additions?"
Is it possible in the unified view to only show what's been added (green highlights)? Ignoring whats been deleted

[2020-04-22 21:06] RyanWarner opened #79 "When splitView is set to false, both line numbers still show up"
Thank you for the amazing library.

I'm seeing two columns for line numbers in `unified` view, which seems unintended (correct me if I'm wrong!).

See this codesandbox: https://codesandbox.io/s/blissful-jepsen-kx7zi?file=/src/App.js

![Screen Shot 2020-04-22 at 5 05 41 PM](https://user-images.githubusercontent.com/1595979/80033934-8bf40f80-84bb-11ea-9a8b-35e0db923411.png)

[2020-04-25 01:26] dollychhabriya opened #82 "Two Tables difference"
Can we show difference between the data of two tables ?

[2020-04-28 02:10] Grisho4ek opened #84 "Add ability to comment lines"
Hello,
I think add ability to comment lines would be very useful.
What do you think?

[2020-05-02 08:14] #84 closed

[2020-05-09 17:52] SamSamskies commented on #25
@praneshr I also have to support large diffs and my temporary solution is to display a spinner and put a message that this may take a while if the changeset is huge 😂.

Have you thought about using `react-virtual` (https://github.com/tannerlinsley/react-virtual) to solve the issue?

[2020-05-10 09:31] praneshr commented on #82
@dollychhabriya Currently, it supports only text based diff. Table diff is not in the scope of the project. Sorry.

[2020-05-10 09:31] #82 closed

[2020-05-10 09:35] praneshr commented on #79
Thanks for the question. Yes, it is intentional. Left column page number represents the old file and the right column represents the new file. Just like Github diff.

Ref: https://github.com/praneshr/react-diff-viewer/commit/37e4418874fea6be08576230c300c44ad1df7f03?diff=unified

[2020-05-10 09:35] #79 closed

[2020-05-10 09:37] praneshr commented on #77
@grantspilsbury Thanks for the question. Unfortunately, that is not possible now.  But, I can take "Show only diff" as a feature request and add it in the future release.

[2020-05-10 09:38] praneshr commented on #25
@SamSamskies Thanks for the comment. Yes, I've explored the windowing option. But, I don't have the bandwidth to work on it now. So, I cannot guarantee a release date. Sorry.

[2020-05-10 20:52] SamSamskies commented on #25
@praneshr np. I'll try and take a crack at it if I get some bandwidth myself.

[2020-05-10 20:57] SamSamskies commented on #25
I think the main problem is the number of DOM nodes generated for large diffs, so I don't think web workers would help much.

[2020-05-17 14:48] praneshr commented on #68
Fixed in [v3.1.0](https://github.com/praneshr/react-diff-viewer/releases/tag/v3.1.0)

[2020-05-17 14:48] #68 closed

[2020-05-17 14:48] praneshr commented on #62
Fixed in [v3.1.0](https://github.com/praneshr/react-diff-viewer/releases/tag/v3.1.0)

[2020-05-17 14:48] #62 closed

[2020-05-17 14:49] praneshr commented on #64
Fixed in [v3.1.0](https://github.com/praneshr/react-diff-viewer/releases/tag/v3.1.0)

[2020-05-17 14:49] #64 closed

[2020-05-20 05:05] flyYoyo commented on #68
not fixed, the colspan is still 3

[2020-05-20 05:07] flyYoyo commented on #68
not fixed, the colspan is still 3

[2020-05-20 05:08] flyYoyo commented on #68
@praneshr not fixed, the colspan is still 3

[2020-06-01 05:56] Rajdeepc opened #86 "How to disable codeFoldMessageRenderer"
My Use Case:
I don't want the message "Expand 14 lines" . I want to show the user all of the JSON at once.
I know codeFoldMessageRenderer - this prop does it. But not able to achieve the result.

How to disable it?

[2020-06-01 06:03] Rajdeepc commented on #86
Duplicate

[2020-06-01 06:03] #86 closed

[2020-06-03 21:10] nickerzb opened #87 "Ignore case is not exposed"
JSDiff supports ignoring case for the diffChars and diffWords.

https://github.com/kpdecker/jsdiff/tree/v4.0.1#api

As a consumer of this library, I should be able to decide if I want case sensitive comparing.  Right now for example, I get the following diff:

![image](https://user-images.githubusercontent.com/19597570/83689404-9a524280-a5b4-11ea-8e5d-3f737cbf02d1.png)

[This function call
](https

[2020-06-23 11:03] Lcj-space commented on #84
why colse

[2020-08-11 09:53] vineela-m opened #93 "leftTitle and rightTitles are not working"
**Sample Code:**

<ReactDiffViewer
            oldValue={oldValue}
            newValue={newValue}
            leftTitle='Expected'
            rightTitle='Explainer'
            showDiffOnly={false}
            splitView={true}
          />

<img width="812" alt="Screen Shot 2020-08-11 at 3 22 59 PM" src="https://user-images.githubusercontent.com/32760412/89884015-919a7000-dbe6-11ea-91b9-208801da

[2020-08-11 09:56] vineela-m commented on #93
@praneshr Can you pls help me with this ?

[2020-08-12 20:03] claviustales opened #94 ""jsdiff" methods Tree Shaking removing"
We use Tree Shaking in our project. It removes dead-code.

It is removing "diffChars" method from "jsdiff" lib.

We are doing the following workaround:

[code]

We suggest to use correct typing on following code to prevent Tree Shanking:

https://github.com/praneshr/react-diff-viewer/blob/9ac4ba90643f0695179aebab6ce6311adbad0f11/src/compute-lines.ts#L3

[2020-08-25 15:31] jadami10 opened #95 "Increase specificity of css selectors"
When adding react-diff-viewer into my application, it comes out looking like this.
![image](https://user-images.githubusercontent.com/4760722/91192188-a6393680-e6c3-11ea-8152-87d0601319d6.png)

This is specifically because the bootstrap css for `pre` is overriding all of the css in this component.

Bootstrap
[code]

component
[code]

There's really no way for me to "unapply" the bootstrap css, so

[2020-08-26 13:18] michaelpaulcuccia opened #96 "Order of Keys Inconsistent"
I am using a GET request to Firestore to bring back an object from a collection. The object contains 9 keys. In Firestore, it is stored in ABC order. But the object comes back with the Keys in a variety of orders (no consistency) and ends up not comparing correctly. How do you format object keys to consistently be in the same sort of order?
![compare](https://user-images.githubusercontent.com/5482

[2020-08-27 03:40] wuranxu opened #97 "difference not work"
oldValue:   fewfwefw\nwfwfgwef
newValue: fewfwefw\n\nwfwfgwef

[2020-08-29 17:54] wbmltd commented on #97
Having the same issue :(

[2020-09-15 14:16] jdbr11 opened #100 "I want to know if there is a better way to compare richText with this plugin"
For example, compare html text with simple style and tag

[2020-09-15 14:22] jdbr11 commented on #100
How can I see the formatted rich text comparison result in the view panel

[2020-10-12 09:16] p-himik opened #101 "Leading spaces are hidden"
Comparing `"1\n    a"` with `"1\n    b"` results in this:
![image](https://user-images.githubusercontent.com/4410314/95728746-8b774d00-0c84-11eb-8ad6-6a6a94a7a99e.png)
I think that's because the leading spaces are wrapped in `span` - without wrapping, the browser (tested in Chrome and Firefox)  doesn't hide them.

[2020-10-12 09:20] p-himik commented on #101
Wrapping in `code` instead of `span` seems to do the trick. Not sure if there are any implications.

[2020-10-13 11:37] saikrishnaakula opened #102 "include Support for JSON compare"
Library only work for Text can we add support for JSON

[2020-10-21 09:23] andrew-qiu opened #104 "How to ignore a specific line"
I wanna ignore a specific diff line when the left or right contains xxx. Is there any way to do that?

[2020-10-22 07:34] Jav3k commented on #102
@saikrishnaakula, did you find another react component to compare jsons ?

[2020-10-22 17:57] rpatel372 opened #105 "Get displayed text given a line number"
Is there any way to get the displayed text given the line number? For example, if I have the line L2, is there any way to get the text that the diff viewer is displaying on that line? Thanks!

[2020-10-31 07:07] Jav3k commented on #102
@kaniseo, yeah. but you can also sort json fields and values and compare them with DiffMethod.LINES

[2020-11-01 10:36] saikrishnaakula commented on #102
Thank you, Definitly it will help but we have to take care of sorting json by keys

[2020-11-15 21:10] joshzana commented on #102
I worked around the field sorting by using https://github.com/substack/json-stable-stringify and passing in the result to `ReactDiffViewer`, like this:

[code]
[code]

[2020-11-17 20:38] AlisanCakir commented on #86
So do "I don't want the message "Expand 14 lines" . I want to show the user all of the JSON at once." thing how can you do that @Rajdeepc

[2020-12-04 11:30] GeorgeWL opened #106 "Request: Code Fold inline with diff"
![image](https://user-images.githubusercontent.com/5931248/101158666-fd846680-3623-11eb-8c4f-4a23f14b4df3.png)
something akin to this would be nice as an optional styleable property

[2020-12-04 18:41] GeorgeWL opened #107 "Request: Option to give id attribute to lines"
I've been wanting to have it copy the behaviour of github in that on line click, it adds the hash of `#line57` to the end of the url.

To make that easier it would be good if renderContent or some other key could allow one to set the line numbers as the id of the <tr>

e.g.:

[code]

[2020-12-07 18:28] #106 closed

[2020-12-30 05:04] klioen commented on #97
+1

[2020-12-30 12:09] philly-vanilly commented on #73
Please reopen this issue, I need this feature too. ATM I will do the same as OP and use diff directly without a wrapper package, but it would be nice if this feature came out of the box

[2021-01-04 18:29] BaileyMillerSSI commented on #73
@philly-vanilly I ended up writing my own component with the some diffing library and it works really well. I would recommend you do the some. l can share my code if you need.

[2021-01-05 08:58] souljuse commented on #25
I am guessing that the problem stems from the "diff" library in the dependencies. It has the same unsolved issue with large diffs -> https://github.com/kpdecker/jsdiff/issues/163

I suggest switching to https://github.com/google/diff-match-patch

[2021-02-08 10:47] angkj opened #110 "Unable to change the default style of the text."
Not sure if this is the right channel, but I was unable to change the colour of the text (irregardless of which container it belonged too, or whether it was highlighted or not).

But how do I override:

html.dark pre { color: ""}?

I tried putting parent divs, using the styles, but none resulted in me being able to override the color value

[2021-02-25 02:05] sungjunyoung commented on #25
I had the same problem. React's lazy loading feature can help alleviate symptoms.

[code]

[2021-03-16 17:01] whiterook6 opened #113 "ShowDiffOnly collapsed line indicators in wrong places"
Hello. We use react-diff-viewer at my office and I love it. We use it for diffing JSON objects. I just upgraded from V1 to V3 to take advantage of the showDiffOnly option. But there appears to be an error with where the viewer is inserting "Expanding {number} lines..." controls:

![Screen Shot 2021-03-16 at 9 52 05 AM](https://user-images.githubusercontent.com/5151965/111348574-92442a80-863d-11eb-

[2021-03-24 13:52] Aaron-Schaefer opened #114 "Line repeated in viewer"
Hi @praneshr

I'm having an issue with the a file possibly caused by a large number of differences. There is a section in the file where all of the differences are but for some reason the first line of this chunk just gets repeated over and over for the whole chunk for the new value like this.

![image](https://user-images.githubusercontent.com/55821723/112320873-d363bc80-8c85-11eb-9e51-d9780a1308

[2021-03-31 08:50] josephwaiguru commented on #25
Is there are progress on this one ?

[2021-04-01 21:38] whiterook6 commented on #113
bump

[2021-04-25 13:14] passos opened #118 "is there any plan to upgrade react dependency to 17 ?"
the library now depends on react 15 & 16. it doesn't work under react 17. I am wondering is there any plan to upgrade the dependency?

[2021-05-10 23:47] varunmankal opened #122 "How to hide whitespace changes"
We are planning to use this library and need hide whitespace changes feature to the one similar to [Github](https://github.blog/2018-05-01-ignore-white-space-in-code-review/).

Here is the requirement: The whitespace changes should be visible when user selects that option and they along with the entire line should be removed from the diff when user opts to hide whitespace changes if the only diff

[2021-05-29 03:55] rushi commented on #118
Maybe some can help out here if they have ideas?

[2021-06-01 15:03] ramkumarkb commented on #118
Hello,

Is this just a matter of adding `^17.0.0` in the `peerDependencies` or something more than that?

[code]

[2021-06-09 09:07] feddyups commented on #118
yes, https://github.com/praneshr/react-diff-viewer/pull/125/files

[2021-06-16 00:30] AmeyaLokre opened #127 "Expand some lines instead of all between the diff"
Is there a way to implement expanding just some lines (maybe 5 or 10) around the diffChunk instead of expanding all the lines between two diffs similar to how [GitHub](https://github.com/praneshr/react-diff-viewer/pull/92/files#diff-51e4f558fae534656963876761c95b83b6ef5da5103c4adef6768219ed76c2deR933) does it ?

Current behavior:
![image](https://user-images.githubusercontent.com/37641803/12214011

[2021-06-30 23:16] vanyasehgal opened #128 "Throwing classnames_1.default is not a function"
I am trying to consume the library in my app. It's written in TS, and being thrown the error `classnames_1.default is not a function` coming from https://github.com/praneshr/react-diff-viewer/blob/6eda0f7cfcc3333cb8edb5f78e385253a970a37a/src/index.tsx#L259.
I am doing nothing fancy, just tried with the example to move forward,
Can someone plz help me out?

[2021-07-27 08:40] tenacioustechie commented on #118
Is there any progress on updating to support react 17?
I noticed the last release was a year ago so I'm wondering the project is active?

[2021-08-19 10:58] kamiyargit opened #133 "undefined-2 For unified showing type..."
I got the (undefined-2) for 'onLineNumberClick' callback in unified showing type

[2021-08-23 08:44] DJDhanuS opened #134 "Json indentation option could not found"

[2021-08-27 10:45] nuclearspike opened #135 "One of the best selling points of a package like this is a demo page or at the very least a screenshot."
I may come up with 10+ Google responses when looking for a react json diff package, without images or a demo site, you could have the best package of everything and people don't know it until they install and test it out on their own, that dramatically cuts down how many people are ready to look at it because, if it were the best, why wouldn't they just demo how great they are? I can guarantee tha

[2021-08-30 13:23] zibra opened #136 "Ability to modify styles of `code-fold`"
Currently to set `text-decoration` of `code-fold a` I need to do something like:
`  tr td a {
    text-decoration: none !important;
  }
`
to be more specific than this rule: https://github.com/praneshr/react-diff-viewer/blob/6eda0f7cfcc3333cb8edb5f78e385253a970a37a/src/styles.ts#L255

If will be good to have `codeFold` property in the styles

[2021-09-10 16:05] whiterook6 commented on #113
bump

[2021-09-24 09:44] vutoan266 opened #138 "[Typescript] Lack of `codeFold` type in `styles` type object"
Like the title I mentioned above there is no `codeFold` in `ReactDiffViewerStylesOverride`

![image](https://user-images.githubusercontent.com/18349710/134653297-5ae58cd8-06a7-4bd5-9d23-0b71cb652bc5.png)

Any missing or this was the plan to remove it? since I still found this key style in docs

Thanks!!

[2021-09-25 20:39] 239yash opened #139 "Is there any way to left align both the JSONs?"
As of now, when the difference is showed up. Both the JSONs are center-aligned. Are we having any way/method to left align both the JSONs?

[2021-11-13 01:35] MarceloBonifazio opened #141 "Opened in inital state"
I looked for in documentation, but I not found a explication about this...

I need the comp is expanded in initial state

[2021-11-13 01:58] #141 closed

[2021-11-13 02:00] MarceloBonifazio commented on #141
showDiffOnly={false}

Sorry for the misunderstanding, the name of the variable was not very clear to me, I thought it was just to show the differences between the values

[2021-12-02 16:07] nirsky commented on #101
having the same issue

[2022-01-04 09:41] meikang123 opened #142 "Whether big data can support virtual scrolling"

[2022-01-05 11:55] anks333 opened #143 "SSR Compatibility"
I was trying to implement SSR for my app, but I was getting errors, after debugging I found that Diff viewer was causing the issue.

is there any way to achieve SSR while using this module?

[2022-01-06 20:06] quentinproust commented on #135
I think there is a demo site right there : https://praneshravi.in/react-diff-viewer/. The link is on the repo homepage.

Maybe it wasn't available when you created the issue 😄 or do you want more ?

(I'm not working one the project, I just saw the issue right after seeing the demo site)

[2022-01-10 13:06] vincent-tian opened #144 "big data cause Page jammed"
use  react-diff-viewer
data size ：1m

[2022-02-06 20:00] jmikrut commented on #118
Bump - we need this to correct an issue with legacy peer dependencies in [Payload](https://payloadcms.com).

Can we get the above PR merged in? Everything appears to work with React 17.

[2022-02-09 03:04] ICZhuang opened #147 "Dose it support edition, like git version diff viewer in webstorm"

[2022-03-02 22:33] fev4 commented on #55
The solution above ends up for me like this:
![image](https://user-images.githubusercontent.com/16828078/156461095-b76f5438-48b1-49da-ab4c-d68f0ea1d287.png)

Shows multiple horizontal scrolling bars. Optimally there should only be one.

[2022-03-03 07:14] LeePiaPia commented on #144
`var getArr = (value, options) => {
    let retLines = [],
        linesAndNewlines = value.split(/(\n|\r\n)/);

    // Ignore the final empty token that occurs if the string ends with a new line
    if (!linesAndNewlines[linesAndNewlines.length - 1]) {
        linesAndNewlines.pop();
    }

    // Merge the content and line separators into single tokens
    for (let i = 0; i < linesAndNewlines.le

[2022-03-03 07:15] LeePiaPia commented on #144
`var getArr = (value, options) => {
    let retLines = [],
        linesAndNewlines = value.split(/(\n|\r\n)/);

    // Ignore the final empty token that occurs if the string ends with a new line
    if (!linesAndNewlines[linesAndNewlines.length - 1]) {
        linesAndNewlines.pop();
    }

    // Merge the content and line separators into single tokens
    for (let i = 0; i < linesAndNewlines.le

[2022-03-03 07:15] LeePiaPia commented on #144
var getArr = (value, options) => {
    let retLines = [],
        linesAndNewlines = value.split(/(\n|\r\n)/);

    // Ignore the final empty token that occurs if the string ends with a new line
    if (!linesAndNewlines[linesAndNewlines.length - 1]) {
        linesAndNewlines.pop();
    }

    // Merge the content and line separators into single tokens
    for (let i = 0; i < linesAndNewlines.len

[2022-03-09 03:05] lucyfeifei commented on #142
I also encountered this problem，big data cause Page jammed

[2022-03-09 10:29] lucyfeifei commented on #144
Has your problem been solved？

[2022-03-17 11:01] feddyups commented on #118
it doesnt feel like the project is active, I am considering forking this...

[2022-04-13 03:55] tenacioustechie commented on #118
I would help test/contribute if you do @feddyups

[2022-04-13 16:29] jonwardopenai commented on #118
I would also help test/contribute.

[2022-05-17 03:19] woshixixi commented on #65
anything new?

[2022-05-25 10:24] patrickschmelter commented on #113
having the same issue

[2022-06-02 03:26] liuyib opened #158 "Can inline styles be supported?"
Firstly, `react-diff-viewer` inserts the `<style>` tag to render CSS styles, but in some cases (such as Micro-Frontends, I'm using [qiankun](https://qiankun.umijs.org/guide) framework), the code styles will be lost:

![image](https://user-images.githubusercontent.com/38221479/171546613-47f3a4fb-589a-4359-9542-16484700fc5d.png)

So I think above problem can be solved by inline CSS styles, or put th

[2022-06-09 05:05] abhinav-byahut opened #159 "Add Support for JSON diff"
Add support to display JSON diff, since a JSON diff can be different from normal diff.
Use `diff.diffJson()` for comparison & diff arr.

[2022-06-10 07:10] ramusesan opened #160 "How can we add inline comments on click of the line number"
Is it possible to add the inline comments ,  how can we customize the library

[2022-07-26 07:30] oswaldoacauan commented on #118
We are using it with react@18 and seems to work fine. Maybe just remove the peerDependencies restriction?

[2022-08-25 18:55] lordprana commented on #25
Would have liked to use this package, but I need this feature. Had to find another solution.

[2022-08-27 15:30] ipramono commented on #110
I believe same case with the size as well. I wish I can make it smaller? but no luck yet so far

[2022-08-29 19:23] jchambers-ln opened #166 "React 18?"
Any plans to upgrade to React 18.x?

[2022-09-02 05:09] DJDhanuS opened #167 "I'm getting this" classnames_1.default is not a function" i couldn't understand. is there any bootstrap version dependency"

[2022-09-02 05:11] DJDhanuS opened #168 "I'm getting type error:" classnames_1.default is not a function" , is there any bootstrap version dependency ??"
Please guide me on this

[2022-09-02 07:37] #167 closed, assigned to nobody

[2022-09-02 07:38] #168 closed, assigned to nobody

[2022-09-02 07:42] DJDhanuS commented on #128
you just edit the library wherever classnames_1.defalut defined change it classnames_1 it will work, it was not identifying default function.  it was breaking due to latest react-bootstrap version

[2022-09-05 15:53] TristanSpeakEasy commented on #144
Any update on getting this issue fixed in the repo? We are trying to diff large files but not files I would consider too big (ie ~2000 lines of code) and it is causing the browser to hang in most cases

[2022-09-05 17:00] gladsonrobinson commented on #142
Did you find a solution for it.

[2022-09-05 17:09] gladsonrobinson commented on #25
Any updates on it. Or any one got an alternate solution for it.

[2022-09-05 17:13] gladsonrobinson commented on #25
@lordprana Have you find any solution for the large data?

[2022-09-09 00:55] carlosgm128 commented on #166
this library is not longer maintained, so if you want you can use react-diff-viewer-continued from npmjs

[2022-09-15 12:07] herndlm commented on #118
there seem to be multiple forks already now with https://www.npmjs.com/package/react-diff-viewer-continued being the most popular so far. I think I'm considering switching to that fork for now, maybe the community should consider the same / agree on a fork

[2022-09-23 16:01] mschasz opened #171 "nearbySequences like in react-diff-view"
Hi there,

I want to group additions and deletions in my react diff viewer. I see that react-diff-view has `nearbySequences` set to zip to accomplish this -- is there any equivalent in `react-diff-viewer`? Thanks!

[2022-09-30 10:39] TristanSpeakEasy commented on #144
@praneshr I have created a PR to fix this issue https://github.com/praneshr/react-diff-viewer/pull/172

@LeePiaPia would be great to get a review as it was based on your provided code (with some cleanup)

[2022-10-19 05:58] ZhaolYang opened #174 "the demo provided in readme.md run like this，how to fix it?"
![image](https://user-images.githubusercontent.com/23026640/196608640-19370345-b8e3-40c1-816c-9e3c84e3bb0e.png)

[2022-10-23 14:52] erothmayer commented on #144
This code **should not be used**. It is faster, but it is incorrect.

Because the new approach is "chunking" the diff processing into sets of 100 it gives incorrect results on inputs over 100 lines long. For example, you can use the following inputs to simulate a pair of input files 302 lines long where the only difference is that a single line has been removed from the new value.

[code]

When I

[2022-11-02 05:02] ericmorgan1 commented on #159
I created a PR for `react-diff-viewer-continued` to handle JSON:
https://github.com/Aeolun/react-diff-viewer-continued/pull/3/files

[2022-11-18 07:12] YeeJone commented on #55
<img width="1374" alt="image" src="https://user-images.githubusercontent.com/20400822/202642794-53052a3e-37bd-4d49-9e23-fbada21ceb66.png">
I have the same problem.
The style is ...

[2022-11-21 19:07] stoically commented on #166
@Aeolun Thanks for keeping the component dependencies up-to-date! Could you maybe enable issues in your fork?

[2022-11-22 00:52] Aeolun commented on #166
@stoically  So that's why I got so many pull requests 🙃 they're enabled now.